.app_purple_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #c707f2;
    --primary-color: #ff0bff;
    --secondary-color: #c707f2;
    --inverted-primary-color: #faf4fb;
    --inverted-secondary-color: #faf4fb;
}
